<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onShoppingListChange(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name"></label>
          <input
            id="name"
            type="text"
            class="form-control"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount"></label>
          <input
            id="amount"
            type="number"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
        <input hidden name="updateType" #updateType>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!f.valid"
                  (click)="updateType.value ='add'">{{ editMode ? 'Update' : 'Save'}}
          </button>

          <button class="btn btn-danger"
                  type="submit"
                  [disabled]="!f.valid"
                  *ngIf="editMode"
                  (click)="updateType.value ='delete'">Delete
          </button>

          <button class="btn btn-primary"
                  type="submit"
                  (click)="onClear()">Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
